@use "../utils" as *;

main {
  @include flex-centering();
  margin: rem(40) auto rem(0) auto;
  // padding: 0 rem(30);
  @include max-width(1266);

  @include breakpoint-max(xl) {
    width: 100%;
    padding: rem(0) rem(40);
  }
}
